<div id="main-container">
  <% @item.each do |name| %>
    <iframe src="/<%=name[0]%>" height="500" width="1700"></iframe>
    <div id="score-container">
      <h2>Current Score: <%=name[2]%></h2>
      <label><%=name[1]%></label>
    </div>
    <div id="main-vote-container">
      <% if not_voted1? %>
          <% if not admin? %>
              <div id="vote-container1">
                <form action="/submissions" method="post" id="upVote1" name="<%=name[1]%>1">
                  <div id="up-voter1">
                    <div>
                      <input type="hidden" name="select" value="1">
                      <button name="name" value="<%=name[1]%>">Vote 1st</button>
                    </div>
                  </div>
                </form>
              </div>
          <% end %>
      <% end %>

      <% if not_voted2? %>
          <% if not admin? %>
              <div id="vote-container2">
                <form action="/submissions" method="post" id="upVote2" name="<%=name[1]%>2">
                  <div id="up-voter2">
                    <div>
                      <input type="hidden" name="select" value="2">
                      <button name="name" value="<%=name[1]%>">Vote 2nd</button>
                    </div>
                  </div>
                </form>
              </div>
          <% end %>
      <% end %>

      <% if not_voted3? %>
          <% if not admin? %>
              <div id="vote-container3">
                <form action="/submissions" method="post" id="upVote3" name="<%=name[1]%>3">
                  <div id="up-voter3">
                    <div>
                      <input type="hidden" name="select" value="3">
                      <button name="name" value="<%=name[1]%>">Vote 3rd</button>
                    </div>
                  </div>
                </form>
              </div>
          <% end %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>